.forecast {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 800px;
  background-color: #eee;
  border-radius: 0.5rem;
  padding: 1rem;
  gap: .2rem;
}

.forecast__weather-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.forecast__input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.forecast__sub-title {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 1rem;
  text-align: center;
}

.forecast__information {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  list-style: none;
  padding: 0;
}

.forecast__information-item {
  font-size: .8rem;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  padding: 0.5rem;
}

.forecast__image {
  width: 70px;
  height: 70px;
  object-fit: contain;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.1));
}

.forecast__map {
  height: 40dvh;
  width: 80%;
  object-fit: contain;
  border-radius: 0.5rem;
}
